<div class=row-fluid>
  <div class=span4>
    <div class=ul-header>Choose a year</div>
    <ul>
    {{#each years}}
      <li>
        <a href="/folder/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>


  <div class=span4>
    <div class=ul-header>Show</div>
    <ul>
    {{#each shows}}
      <li>
        <a href="/folder/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>

  <div class=span4>
    <div class=ul-header>Song</div>
    <ul>
    {{#each show}}
      <li>
        <a href="/folder/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>