<h3>Edit Playlist</h3>


<form action=PUT action=/ name=playlist>
  <div class=name-container>
    <input name=name class=name value="{{playlist.name}}" /> - <a href="/playlist/{{playlist._id}}">View Playlist</a>
  </div>

  <table>
    {{#each playlist._songs}}
      <tr>
        <td><textarea name=blurb[text]>{{#blurb ../playlist._blurbs _id}}{{/blurb}}</textarea><input type=hidden name=blurb[id] value={{_id}} /></td>
        <td class=second><a href="/{{year}}/{{month}}/{{longDay}}/{{longSlug}}">{{title}}</a> - {{album}}</td>
      </tr>
    {{/each}}
  </table>

  <button type=submit class=save>Save</button>
  </form>