<h3>{{playlist.name}}</h3>

<table>
  {{#each playlist._songs}}
    <tr>
      <td><p>{{blur}}</p></td>
      <td><a href="/{{year}}/{{month}}/{{day}}/{{slug}}">{{title}}</a> - {{album}}</td>
    </tr>
  {{/each}}
</table>
