<ul>
  {{#each queue}}
    <li>
      <span>[
        <a href="javascript:" class=delete>x</a>
      ]</span>
      <a class="song {{active}}" href="/{{band}}/{{year}}/{{month}}/{{day}}{{#if showVersion}}-{{/if}}{{showVersion}}/{{slug}}">
        {{title}}
      </a>
      <span>
        [{{len this}}]
      </span>
      <span>
        [<a href="/{{band}}/{{year}}/{{month}}/{{day}}{{#if showVersion}}-{{/if}}{{showVersion}}">{{month}}/{{day}}/{{year}}</a>]
      </span>
    </li>
  {{/each}}
</ul>

<button class=clear>Clear Queue</button>
{{#if loggedIn}}
  <button class=save>Save Queue</button>
{{/if}}
