<ul>
  {{#each queue}}
    <li>
      <span>[
        <a href="javascript:" class=delete>x</a>
      ]</span>
      <a class="song {{active}}" href="/{{year}}/{{month}}/{{longDay}}/{{longSlug}}">
        {{title}}
      </a>
      <span>
        [{{toHHMMSS duration}}]
      </span>
      <span>
        [<a href="/{{year}}/{{month}}/{{longDay}}">{{month}}/{{day}}/{{year}}</a>]
      </span>
    </li>
  {{/each}}
</ul>

<button class=clear>Clear Queue</button>
{{#if loggedIn}}
  <button class=save>Save Queue</button>
{{/if}}
