<div class=ul-header>{{data.year}}</div>
<ul>
{{#each data.shows}}
  <li>
    <a href="/{{year}}/{{month}}/{{day}}">
      <span class=date>{{month}}/{{addZero day}}</span>
      <span class=venue>{{venue_name}}</span>
    </a>
  </li>
{{/each}}
</ul>
