<div class=ul-header>{{month}}/{{day}}</div>
<ul>
  {{#with songs}}
    <li class="current-source select-source">
      {{#if taper}}<p><span class="field">Taper:</span> {{taper}}</p>{{/if}}
      {{#if transferer}}<p><span class="field">Transferer:</span> {{transferer}}</p>{{/if}}
      {{#if source}}<p><span class="field">Source:</span> {{source}}</p>
      {{else}}{{#if is_soundboard}}<p><span class="field">Source:</span> Soundboard</p>{{/if}}
      {{/if}}
      {{#if lineage}}<p><span class="field">Lineage:</span> {{lineage}}</p>{{/if}}
      {{#if description}}<p title="{{newLine description}}" class="description"><span class="field">Description:</span> Hover</p>{{/if}}
      {{#if average_rating}}
        <p><span class="field">Rating:</span> {{average_rating}} / {{reviews_count}} reviews</p>
      {{/if}}
    </li>
  {{/with}}
  {{#if multipleSources}}
    <li class="select-source multiple-sources">Select another source <span class=total-sources>({{totalSources}})</span></li>
    {{#each sources}}
      {{#if hidden}}
      {{else}}
        <li class=source>
          <a href=/{{../../band}}/{{../../year}}/{{../../month}}/{{../../day}}{{#if @index}}-{{@index}}{{/if}}>
            {{#if taper}}<p><span class="field">Taper:</span> {{taper}}</p>{{/if}}
            {{#if transferer}}<p><span class="field">Transferer:</span> {{transferer}}</p>{{/if}}
            {{#if source}}<p><span class="field">Source:</span> {{source}}</p>
            {{else}}{{#if is_soundboard}}<p><span class="field">Source:</span> Soundboard</p>{{/if}}
            {{/if}}
            {{#if lineage}}<p><span class="field">Lineage:</span> {{lineage}}</p>{{/if}}
            {{#if description}}<p title="{{newLine description}}" class="description"><span class="field">Description:</span> Hover</p>{{/if}}
            {{#if average_rating}}
              <p><span class="field">Rating:</span> {{average_rating}} / {{reviews_count}} reviews</p>
            {{/if}}
          </a>
        </li>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#each songs.tracks}}
    <li data-idx={{@index}} data-song="{{title}}">
      <a class="song {{../band}}-{{../year}}-{{../month}}-{{../day}}{{#if ../showVersion}}-{{/if}}{{../showVersion}}-{{slug}}" href="/{{../band}}/{{../year}}/{{../month}}/{{../day}}{{#if ../showVersion}}-{{/if}}{{../showVersion}}/{{slug}}">{{title}} <span class=time>{{len this}}</span></a>
      <div class=play>ᐅ</div>
      <div title="Add To Queue" class=add>+</div>
    </li>
  {{/each}}
  <li><a class=add-all href="javascript:">Add All To Queue</a></li>
  {{#if_eq band "phish"}}
    <li><a class=archive href="http://phish.net/setlists/?d={{songs.display_date}}" target=_blank>View on Phish.net</a></li>
    <li><a class=archive href="http://phish.in/{{songs.display_date}}" target=_blank>View on Phish.in</a></li>
  {{else}}
    <li><a class=archive href="https://archive.org/details/{{songs.archive_identifier}}" target=_blank>View on Archive.org</a></li>
  {{/if_eq}}
</ul>
