<div class=ul-header>{{month}}/{{day}}</div>
<ul>
  {{#with songs}}
    <li class="current-source show-sources">
      <h5>Current Source <span>(click here to select another source)</span></h5>
      {{#if taper}}<p class=taper>Taper: {{taper}}</p>{{/if}}
      {{#if transferer}}<p>Transferer: {{transferer}}</p>{{/if}}
      {{#if source}}<p>{{source}}</p>{{/if}}
      {{#if lineage}}<p>Lineage: {{lineage}}</p>{{/if}}
      {{#if avg}}
        <p>Rating: {{avg}} / {{total_reviews}} reviews</p>
      {{/if}}
      <div class=total-sources>{{length ../sources}}</div>
    </li>
  {{/with}}
  {{#if sources}}
    <li class=source>Choose your source:</li>
  {{/if}}
  {{#each sources}}
    <li class=source>
      <a href=/{{../band}}/{{../year}}/{{../month}}/{{../day}}-{{@index}}>
        {{#if taper}}<p class=taper>Taper: {{taper}}</p>{{/if}}
        {{#if transferer}}<p>Transferer: {{transferer}}</p>{{/if}}
        {{#if source}}<p>{{source}}</p>{{/if}}
        {{#if lineage}}<p>Lineage: {{lineage}}</p>{{/if}}
        {{#if avg}}
          <p>Rating: {{avg}} / {{total_reviews}} reviews</p>
        {{/if}}
      </a>
    </li>
  {{/each}}
  {{#if sources}}
    <li class=source>This is where the show starts, bub.</li>
  {{/if}}
  {{#each songs.tracks}}
    <li data-id={{_id}} data-song="{{title}}">
      <a class=song href="/{{../band}}/{{../year}}/{{../month}}/{{../day}}{{#if ../showVersion}}-{{/if}}{{../showVersion}}/{{slug}}">{{title}} <span class=time>{{len this}}</span></a>
      <div class=play>ᐅ</div>
      <div title="Add To Queue" class=add>+</div>
    </li>
  {{/each}}
  <li><a class=archive href="https://archive.org/details/{{songs.archive_identifier}}" target=_blank>View on Archive.org</a></li>
  <li><a class=add-all href="javascript:">Add All To Queue</a></li>
</ul>
