<div class=ul-header>{{songs.month}}/{{songs.day}}</div>
<ul>
  <li class=add-all>Add all</li>
  {{#each songs._songs}}
    <li data-id={{_id}} data-song="{{title}}">
      <a class=song href="/{{year}}/{{month}}/{{day}}{{#if showVersion}}-{{showVersion}}{{/if}}/{{slug}}{{#if version}}/{{version}}{{/if}}">{{title}} <span class=time>{{toHHMMSS duration}}</span></a>
      <div class=play>ᐅ</div>
      <div title="Add To Queue" class=add>+</div>
    </li>
  {{/each}}
  <li><a class=archive href="https://archive.org/details/{{songs.id}}" target=_blank>View on Archive.org</a></li>
  <li>{{songs.source.[0]}}</li>
</ul>
