<div class=ul-header>{{songs.album}}</div>
<ul>
{{#each songs._songs}}
  <li>
    <a href="/{{year}}/{{month}}/{{day}}/{{slug}}{{#if version}}-{{version}}{{/if}}">{{title}}</a>
  </li>
{{/each}}
</ul>
