<div class=ul-header>{{songs.album}}</div>
<ul>
  <li class=playAll>Play all</li>
{{#each songs._songs}}
  <li>
    <a href="/{{year}}/{{month}}/{{day}}{{#if showVersion}}-{{showVersion}}{{/if}}/{{slug}}{{#if version}}/{{version}}{{/if}}">{{title}} <span>{{toHHMMSS duration}}</span></a>
    <div data-id={{_id}} data-song="{{title}}" class=play>ᐅ</div>
    <div data-id={{_id}} data-song="{{title}}" class=add>+</div>
  </li>
{{/each}}
  <li><a href="http://phish.net/setlists/?d={{songs.year}}-{{addZero songs.month}}-{{addZero songs.day}}" target=_blank>Open on Phish.net</a></li>
</ul>
